.success {
  color: green;
}

.warning {
  color: red;
}

.controls {
  display: inline-flex;
  flex-wrap: wrap;

  .buttonDiv {
    margin-left: 20px !important;
    margin-bottom: 10px;
  }
}

mat-header-row, mat-row, mat-footer-row {
  min-height: 30px;
}
