<div class="col-md-6 col-md-offset-3">
  <mat-card>
    <h2>Change Password</h2>
    <div *ngIf="userMode">
      <mat-checkbox name="isStorePasswordChanged"
        [(ngModel)]="isStorePasswordChanged">Change Stores Password?</mat-checkbox>
    </div>
    <form name="form"
      (ngSubmit)="f.form.valid && model.newPassword === model.confirmPassword && changePassword()"
      #f="ngForm"
      novalidate>
      <div class="form-group"
        *ngIf="isStorePasswordChanged === true"
        [ngClass]="{ 'has-error': f.submitted && !store.valid }">
        <mat-form-field>
          <mat-label>Store</mat-label>
          <mat-select name="store"
            [(ngModel)]="model.storeId"
            #store="ngModel"
            required>
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let store of stores"
              [value]="store.id">{{store.code}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group"
        *ngIf="isStorePasswordChanged === false"
        [ngClass]="{ 'has-error': f.submitted && !currentPassword.valid }">
        <mat-form-field>
          <mat-label>Current Password</mat-label>
          <input type="password"
            name="currentPassword"
            matInput
            [(ngModel)]="model.currentPassword"
            placeholder="Password"
            #currentPassword="ngModel"
            required>
          <mat-error *ngIf="f.submitted && !currentPassword.valid">
            Current Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group"
        [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password"
            name="newPassword"
            matInput
            [(ngModel)]="model.newPassword"
            #newPassword="ngModel"
            required>
          <mat-error *ngIf="f.submitted && !newPassword.valid">
            New Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group"
        [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password"
            name="confirmPassword"
            matInput
            [(ngModel)]="model.confirmPassword"
            #confirmPassword="ngModel"
            required>
            <mat-icon class="warning" *ngIf="model.confirmPassword && model.newPassword !== model.confirmPassword" matSuffix matTooltip="Confirm password do not match with new.">warning</mat-icon>
          <mat-error *ngIf="f.submitted && (!confirmPassword.valid || model.newPassword !== model.confirmPassword)">
            {{model.newPassword !== model.confirmPassword ? 'Confirm password do not match with new.' : 'Password is required'}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button [disabled]="loading || !f.form.valid || model.newPassword !== model.confirmPassword"
          mat-raised-button
          color="primary">Change</button>
        <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
      </div>
    </form>
  </mat-card>
</div>
